body {
    background-image: url("../images/linen.png");
    background-color: #ccc;
}

img {
    height: 65px;
    width: 65px;
}

.socia-card img:hover {
    opacity: 0.8;
}

.container {
    margin-top: 60px;
}

.nav {
    margin-right: 80px;
}

.navbar {
    padding: 0;
}

.nav-item {
    margin-left: 40px;
    font-size: 17px;
}

.main-card {
    margin-bottom: 20px;
}

.card-text {
    color: #000;
}

.socia-card {
    margin-bottom: 80px;
    margin-left: auto;
    margin-right: auto;
}

.form-control {
    outline: red;
}

#bioPic {
    width: 200px;
    height: 200px;
    border: 2px solid #49aaa5;
    -webkit-box-shadow: 0px 0px 19px #000000;
    -moz-box-shadow: 0px 0px 19px #000000;
    box-shadow: 0px 0px 19px #000000;
}

#name {
    background: #4aaaa5;
    padding: 13px;
    color: #fff;
}

#name:hover {
    background: #6ee7e1;
    color: #c2c2c2;
    -webkit-box-shadow: 0px 0px 25px #000000;
    -moz-box-shadow: 0px 0px 25px #000000;
    box-shadow: 0px 0px 25px #000000;
}

.bg-light {
    border-bottom: 2px solid #ccc;
    margin-bottom: 20px;
}

a {
    color: #777;
}

a:hover {
    color: #c2c2c2;
}

.work a {
    color: #fff;
}

.work h3 {
    /* Positioning */
    position: relative;
    /*bottom: 10px;*/
    bottom: 83px;
    width: 100%;
    /*width: 350px;*/
    text-align: center;
    /* Visual */
    border-bottom: 0;
    vertical-align: center;
    right: 0;
    font-size: 1.2em;
    text-transform: uppercase;
    background-color: #474747;
    color: #fff;
    opacity: .8;
    width: 100%;
    /* Box-model */
    padding: 15px;
    font-weight: 300;
    line-height: 30px;
}

.work h3:hover {
    -webkit-box-shadow: 0px 0px 25px #000000;
    -moz-box-shadow: 0px 0px 25px #000000;
    box-shadow: 0px 0px 25px #000000;
}

h1 {
    font-size: 28px;
    color: #4aaaa5;
}

p {
    line-height: 1.5;
    color: #777;
}

.btn-info {
    background: #4aaaa5;
}

#footer {
    background: #666;
    border-top: 3px solid #4aaaa5;
    color: #fff;
    padding: 15px;
    width: 100%;
}

/*portfolio page*/

.portPic {
    width: 400px;
    height: 250px;
    margin-bottom: 20px;
    border: 3px solid #fff;
}

.portPic:hover {
    -webkit-box-shadow: 0px 0px 25px #000000;
    -moz-box-shadow: 0px 0px 25px #000000;
    box-shadow: 0px 0px 25px #000000;
}

.portPic h3 {
    margin: 0 auto;
}