body {
    background-image: url("../images/linen.png");
    background-color: #ccc;
}

img {
    width: 65px;
    height: 65px;
}

img:hover {
    opacity: 0.8;
}

.container {
    margin-top: 140px;
}

.nav {
    margin-right: 100px;
}

.navbar {
    padding: 0;
}

.main-card {
    margin-bottom: 20px;
}

.socia-card {
    margin-bottom: 80px;
}

#bioPic {
    width: 200px;
    height: 200px;
    border: 2px solid white;
}

#name {
    background: #4aaaa5;
    padding: 20px;
    color: #fff;
}

#name:hover {
    background: #6ee7e1;
    color: #c2c2c2;
}

.bg-light {
    border-bottom: 2px solid #ccc;
    margin-bottom: 20px;
}

.work h3 {
    /* Positioning */
    position: absolute;
    bottom: 20px;
    width: 100%;
    /* Box-model */
    padding: 15px;
    margin-bottom: 0;
    font-weight: 300;
    line-height: 30px;
    /* Typography */
    color: #fff;
    text-align: center;
    background: #4aaaa5;
    /* Visual */
    border-bottom: 0;
}

a {
    color: #777;
}

a:hover {
    color: #c2c2c2;
}

h1 {
    font-size: 28px;
    color: #4aaaa5;
}

p {
    line-height: 1.5;
    color: #777;
}

.btn-info {
    background: #4aaaa5;
}

#footer {
    background: #666;
    width: 100%;
    padding: 15px;
    color: #fff;
    border-top: 3px solid #4aaaa5;
}


/*portfolio page*/

.portPic {
    width: 300px;
    height: 200px;
    margin-bottom: 20px;
    border: 3px solid #fff;
}